// General
$primary-color: #44abff;
$primary-color--hover: #0b87ed;
$white: #fff;

// Textos
$text-color-white: #323232;
$text-color-backgrey: #888888;
$text-color: #575757;
$text-color--hover: #686868;

// Fondos
$dashboard-background: #ffffff90;
$white-background: #f5f9fc;

// Logo
