// General
$primary-color: #178ced;
$primary-color--hover: #12b5c0;
//$primary-color: #0868a6;
/* $primary-color: #0ba2ad;
$primary-color--hover: #0868a6; */
$white: #fff;
$shadow: #ccd9e24b;

// Textos
$text-color-white: #323232;
$text-color-backgrey: #888888;
$text-color: #575757;
$text-color--hover: #686868;

// Fondos
$dashboard-background: #e2edf3;

// Logo
$dark-green-logo: #207b60;

// Excel Logo
$excel-icon: #1b7444;
$excel-icon--hover: #288652;
